.body {
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	
}

 .variable {
 	width: 90rem;
 	height: 50rem;
 	background-color: #6A9BF7;
    position: relative;
    left: 50px;

 }

 .main {
 	transform: translateY(14rem);
 	margin-left: 80px;
 }

 .image {
 	transform: translate(40rem, -23rem);
 	height: 55rem;
 	width: 45rem;
 	
 }

 .first {
 	font-size: 80px;
 }
 .second {
 	font-size: 25px;
 }

 .start {
 	font-size: 20px;
 	border-radius: 10px;
 	padding: 15px;
 	background-color: #000000;
 	color: white;
 	border: black;
 }


